.h1{
  font-family: 'Grenze Gotisch', cursive;
}


.nav-bar ul {
  font-size: 30px;
 font-family: 'Grenze Gotisch', cursive;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4f81c7;
  text-align: center;
}

.nav-bar li {
float: center;
display: inline-block;
}

li a {
display: inline-block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover:not(.active) {
background-color: #b0deff;
}

.Sections-of-collaboration ul {
  font-size: 90px;
 font-family: 'Grenze Gotisch', cursive;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f7d6bf;
  text-align: center;
}

.Sections-of-collaboration li {
float: center;
display: inline-block;
}

.Sections-of-collaboration li a {
display: inline-block;
color: black;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

.Sections-of-collaboration li a:hover:not(.active) {
background-color: #810000;
}

p{
  font-family: 'Grenze Gotisch', cursive;
}

.head {
       height: 100px;
       font-size: 40px;
       text-align: center;
       padding: 25px;
       font-family: 'Grenze Gotisch', cursive;
       background-color: lightblue;
       margin: 0px;
      }
.subhead {
       background-color: black;
       color: white;
       height: 25px;
       text-align:center;
       margin: 0px;
       font-size: 14pt;
       padding: 15px;
       }
.head2 {
      height: 25px;
      text-align:center;
      font-size: 12pt;
       }
footer {
        text-align: center;
        background-color: gray;
        height: 50px;
        width: 100%;
        color: Black;
        margin: 0px;
        padding-top: 10px;
       }
iframe {
       position: relative;
       width: 100%;
       height: 75vh;
       }

.textbox {
          background-color:white;
          width: 87%;
          height: 100px;
<<<<<<< HEAD
          float: Middle;
          padding: 0px;
=======
          float: right;
          padding: 25px;
>>>>>>> cae5ea7127902c0c2d66301bf189ec07734e28f7
          margin: 25px;
          border: 5px solid black;
          text-align: center;

}
/* Create three equal columns that floats next to each other */
.twocolumna {
      float
      width: 30%;
      height: 300px;
      background-color: lightblue
      padding: 50px;
      margin: 25px;
      border: 5px solid black;
      text-align: center;
      }

.twocolumnb {
      float: right;
      width: 30%;
      height: 300px;
      background-color: lightblue
      padding: 50px;
      margin: 25px;
      border: 5px solid black;
      text-align: center;
            }

      /* Clear floats after the columns */
.row:after {
      content: "";
      display: table;
      clear: both;
      }

      /* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */
@media screen and (max-width: 600px) {
    .twocolumna, twocolumnb {
          width: 100%;
        }
      }

.column {
      float: left;
      }

      /* Left and right column */
.column.side {
      width: 25%;
      height: 300px;
      background-color: lightgreen;
      }

      /* Middle column */
.column.middle {
      width: 75%;
      height: 300px;
      background-color: pink;
      }

      /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
     .column.side, .column.middle {
     width: 100%;
      }
    }
    .right {
      float: right;
    }
    input[type="button"] {
       background-color: pink;
      }

      .signUp{
        background-color: #b2ebf2;
        }

      .signIn{
        background-color: #b2ebf2;
      }

      .signOut{
        background-color: #b2ebf2;
      }
